.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(30 41 59);
  width: 20px;
  height: 20px;
  padding: 30px;
  border-radius: 50%;
  font-size: 30px;
  font-weight: bold;
  border: 4px solid white;
}

.container_drop{
  background-color: gainsboro;
  margin-top: 50px;
  padding: 30px;

  display: flex;
  justify-content: center;
}


.drop{
  /* background-color:  #333; */
  width: 250px;
  height: 250px;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
  25px 35px 20px rgba(0, 0, 0, 0.05),
  25px 30px 30px rgba(0, 0, 0, 0.05),
  inset -20px -20px 25px rgba(255, 255, 255, 0.9);

  border-radius: 73% 27% 59% 41% / 57% 59% 41% 43%;

  transition: all ease .5s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.drop:hover{
  border-radius: 50%;
}


.drop_btn{
  /* background-color:  #333; */
  width: 100px;
  height: 100px;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
  10px 10px 40px rgba(0, 0, 0, 0.05),
  10px 30px 30px rgba(0, 0, 0, 0.05),
  inset -20px -20px 25px rgba(255, 255, 255, 0.9);

  /* border-radius: 73% 27% 59% 41% / 57% 59% 41% 43%; */
  border-radius: 50%;

  transition: all ease .5s;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* .drop_btn:hover{
  border-radius: 50%;
} */

.drop_btn_treshold{
  /* background-color:  #333; */
  width: 250px;
  height: 250px;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
  10px 10px 40px rgba(0, 0, 0, 0.05),
  10px 30px 30px rgba(0, 0, 0, 0.05),
  inset -20px -20px 25px rgba(255, 255, 255, 0.9);

  border-radius: 50%;

  transition: all ease .5s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.drop_btn_treshold_active{
  /* background-color:  #333; */
  width: 250px;
  height: 250px;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
  10px 10px 40px rgba(0, 0, 0, 0.05),
  10px 30px 30px rgba(0, 0, 0, 0.05),
  inset -20px -20px 25px rgba(255, 255, 255, 0.9);

  border-radius: 50% 50% 49% 51% / 64% 63% 37% 36% ;

  transition: all ease .5s;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 6px solid yellow;
}

/* text-4xl font-semibold ml-4 */
.text_hum_home{
  font-size: 40px;
  font-weight: 700;
  margin-left: 10px;
  color: #00d0df;
}

.text_temp_home{
  font-size: 40px;
  font-weight: 600;
  margin-left: 10px;
  color: #be01fe;
}